[submodule "XCSP3-CPP-Parser"]
	path = XCSP3-CPP-Parser
	url = https://github.com/xcsp3team/XCSP3-CPP-Parser.git
[submodule "rocknrun"]
	path = rocknrun
	url = ssh://git@redmine.laas.fr/laas/users/ehebrard/rocknrun.git
